<style>
    /* LineNumbersTable */
    [data-scheme=light] .chroma .lnt {
        padding-left: 1.5em;
        padding-right: 1.5em;
        margin-right: 0;
    }

    span.lnt {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    }

    div.chroma {
        border-radius: 10px;
    }

    pre.chroma {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    [data-scheme=light] table.lntable td+td {
        border-left: 1px solid black !important;
        padding-left: 20px !important;        
    }

</style>