<style>
    /* LineNumbersTable */
    [data-scheme=light] .chroma .lnt {
        padding-left: 1.5em;
        padding-right: 0.4em;
    }

    span.lnt {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    }

</style>