/* LineNumbersTable */
.chroma .lnt {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
    margin-right: 0 !important;
}

/* code column padding and add left border */
table.lntable td+td {
    border-left: 1px solid black !important;
    padding-left: 20px !important;        
}

/* Radius border for the code block */
div.chroma {
    border-radius: 10px !important;
}

/* Compact style by removing the top and bottom space */
pre.chroma {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}